.Login > form {
	width: 350px;
    display: flex;
    flex-direction: column;

}
.Login > Typography {
    text-align: center;
    margin-right: 2em;
}
.Login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top:10%;
    left:42%;
}
.Login .input {
    width: 100%;
    box-sizing: border-box;
    margin:0 0 20px 0;
}

.Login button {
    width: 100%;
    margin: 10px 0 20px 0;
    font-size: smaller;
    border-radius: 10px;
}

.Login h2 {
    text-align: left;
}

.ErrorSpan {
    color: red;
    margin-bottom: 1em;
    width: 100%;
    text-align: left;
    display: inline-block;
    /* background-color: aqua; */
}