
.VacationDetails.Box {
	width: 520px;
    text-align: center;
    padding-bottom: 20px;
}

.VacationDetails img {
    width: 90%;
    margin: 10px;
}

.CardContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 10px;
}