.Register > form {
	width: 400px;
}
.Register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 42%;
} 
.Register .input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    font-size: large;
    font-weight: bolder;
}

.Register Button {
    width: 100%;
    margin: 10px 0 20px 0;
    /* font-size: smaller; */
    border-radius: 10px;
}



.Register h2 {
    text-align: center;

}
/* 
form > span {
    color: red;
    margin: 0 10px;
    position: absolute;
    width: 100%;
    text-align: left;
} */