.VacationCard {
	width: 500px;
    display: inline-flex;
    align-items: left;
    /* margin:10px; */
}

.VacationCard  > .card {
    /* min-width: 30vw; */
    /* overflow: auto; */
    /* max-height: 700px;
    min-height: 700px;  */
    /* display: grid; */
    width: 22rem;
    margin: 1rem;
    /* justify-items: left;
    align-items: left;     */
}


.bottomMenu *{
    display: inline-block;
    margin: 10px;
}

.img-card {
    position: relative;
}
.img-card > img {
    width:19rem;
    height: 15rem;
} 

.img-card:hover >  img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.img-card:hover > .info {
    display: inline-block;
}
.info {
    display: none;
    position: absolute;
    top:40%;
    left:45%;
}



